:root {
  --text: #374151;
  --text-h: #111827;
  --bg: #ffffff;
  --border: #e5e7eb;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.5 var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d1d5db;
    --text-h: #f3f4f6;
    --bg: #111827;
    --border: #374151;
  }
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}